<footer>
  <hr style="margin-left: 15px; color: #000 !important; background-color: #000 !important; opacity: 1 !important; width: 40px; height: .5px !important; margin-bottom: 1rem !important;">
  <div class="row m-0">
    <div class="col-12 col-md-4 col-sm-3 mb-4 mb-sm-0">
      <p class="footer-text"><a href="https://github.com/donghoon-io/donghoon-io.github.io" style="font-weight: 300">Donghoon's theme</a><br>Up-to-date as of <span id="date">loading...</span></p>
      <p class="footer-text"><i class="fas fa-location-dot pr-3"></i> <span class="ms-1">Seattle is </span><img style="width: auto; height: 23px;" id="weather_icon"><span id="weather">Loading...</span></p>
    </div>
    <div class="col-12 col-md-8 col-sm-9 mb-4 mb-sm-0">
      <p>
        <a class="footer-text" target="_blank" rel="noopener noreferrer" href="https://scholar.google.com/citations?user=753zIgUAAAAJ"><i class="fab fa-google-scholar" style="margin-right: 8px"></i>Google Scholar</a><br>
        <a class="footer-text" target="_blank" rel="noopener noreferrer" href="https://linkedin.com/in/donghoon-io"><i class="fab fa-linkedin" style="margin-right: 10.5px"></i>LinkedIn</a><br>
        <a class="footer-text" target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/donghoon.io"><i class="fab fa-instagram" style="margin-right: 10.5px"></i>Instagram</a><br>
        <a class="footer-text" target="_blank" rel="noopener noreferrer" href="https://twitter.com/donghoon_io"><i class="fab fa-x-twitter" style="margin-right: 7.5px"></i>X</a>
      </p>
    </div>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

<script src="{{ '/assets/js/weather.js' | relative_url }}"></script>
<script src="{{ '/assets/js/github_date.js' | relative_url }}"></script>
