<footer class="mt-6">
  <div class="footer-container px-3">
    <div class="grid grid-cols-1 gap-6 md:grid-cols-12">
      <div class="md:col-span-4">
        <p class="footer-text inline-flex items-center !mb-0.5"><a href="https://github.com/donghoon-io/donghoon-io.github.io" style="font-weight: 300">Donghoon's theme<img src="https://cdn.jsdelivr.net/npm/simple-icons/icons/github.svg" alt="GitHub" class="inline align-middle h-[1em] w-[1em] ml-2 opacity-75"/></a></p>
        <p class="footer-text !mb-3">Up-to-date as of <span id="date">loading...</span></p>
        <p class="footer-text footer-weather-line inline-flex items-center"><i data-lucide="map-pin" class="opacity-75"></i><span class="ml-1"><span id="city-name">Loading...</span> is</span><img class="footer-weather-icon opacity-75 ml-1" id="weather_icon" alt=""><span id="weather">Loading...</span></p>
      </div>
      <div class="md:col-span-8">
        <p>
          <a class="footer-text footer-link" target="_blank" rel="noopener noreferrer" href="https://scholar.google.com/citations?user=753zIgUAAAAJ"><img src="https://cdn.jsdelivr.net/npm/simple-icons/icons/googlescholar.svg" alt="Google Scholar" class="inline align-middle h-[.9em] w-[.9em] mr-2 opacity-75"/>Google Scholar</a><br>
          <a class="footer-text footer-link" target="_blank" rel="noopener noreferrer" href="https://linkedin.com/in/donghoon-io"><img src="https://cdn.jsdelivr.net/npm/simple-icons/icons/linkedin.svg" alt="LinkedIn" class="inline align-middle h-[.9em] w-[.9em] mr-2 opacity-75"/>LinkedIn</a><br>
          <a class="footer-text footer-link" target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/donghoon.io"><img src="https://cdn.jsdelivr.net/npm/simple-icons/icons/instagram.svg" alt="Instagram" class="inline align-middle h-[.9em] w-[.9em] mr-2 opacity-75"/>Instagram</a><br>
          <a class="footer-text footer-link" target="_blank" rel="noopener noreferrer" href="https://twitter.com/donghoon_io"><img src="https://cdn.jsdelivr.net/npm/simple-icons/icons/x.svg" alt="X" class="inline align-middle h-[.9em] w-[.9em] mr-2 opacity-75"/>X</a>
        </p>
      </div>
    </div>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

<script src="{{ '/assets/js/weather.js' | relative_url }}"></script>
<script src="{{ '/assets/js/github_date.js' | relative_url }}"></script>
