---
layout: default
baseurl: /cv
title: CV
description: Curriculum vitae of Donghoon Shin
---

{% assign publications = site.publication | group_by: 'year' | sort: 'name' | reverse %}

<div class="cv container py-4">
    <div class="row">
        <div class="col-12">
                <header>
                  <h1>Donghoon Shin <a class="cv-pdf" href="{{ '/assets/pdf/cv.pdf' | relative_url }}" rel="external"><i class="fas fa-file-pdf"></i> <b>PDF</b></a></h1>
                  <p><a href="#" class="cryptedmail"
                    data-name="dhoon"
                    data-domain="uw"
                    data-tld="edu"
                    onclick="window.location.href = 'mailto:' + this.dataset.name + '@' + this.dataset.domain + '.' + this.dataset.tld; return false;"></a><br><a href="https://donghoon.io">donghoon.io</a><br></p>
                </header>
                <section>
                  <h2>Education</h2>
                  <div class="cv-dated-entry">
                      <div class="cv-dated-date">2022 -</div>
                      <div class="cv-dated-content"><b><a href="https://uw.edu">University of Washington</a></b>, Seattle, WA<br>
                      Ph.D., <a href="https://hcde.uw.edu">Human Centered Design and Engineering</a><br>
                      M.S., <a class="pe-1" href="https://hcde.uw.edu">Human Centered Design and Engineering</a> <small class="text-nowrap">(concurrent with Ph.D.)</small><br>
                      <small>Advisor: <a href="https://faculty.washington.edu/garyhs/">Gary Hsieh</a> & <a href="https://www.llwang.net/">Lucy Lu Wang</a></small><br>
                      </div>
                  </div>
                  <div class="cv-dated-entry">
                      <div class="cv-dated-date">2016 - 2022</div>
                      <div class="cv-dated-content"><b><a href="https://snu.ac.kr/">Seoul National University</a></b>, Seoul, Korea<br>
                      B.S., <a href="https://ee.snu.ac.kr/">Electrical and Computer Engineering</a><br>
                      B.A., <a href="https://isc.snu.ac.kr/">Information Science</a><br>
                      <small>Graduated <i>cum laude</i></small><br>
                      </div>
                  </div>
                </section>
                <section>
                  <h2>Employment</h2>
                  <div class="cv-dated-entry">
                    <div class="cv-dated-date">Winter<br>2025</div>
                    <div class="cv-dated-content">
                      <b><a href="https://research.adobe.com/">Google Research</a></b>, Seattle, WA<br>
                      Student Researcher<br>
                      <small>Mentor: <a href="https://research.google/people/106305/">Divy Thakkar</a>, <a href="https://research.google/people/anoopsinha/">Anoop Sinha</a></small>
                    </div>
                  </div>
                  <div class="cv-dated-entry">
                    <div class="cv-dated-date">Summer<br>2024</div>
                    <div class="cv-dated-content">
                      <b><a href="https://research.adobe.com/">Adobe Research</a></b>, San Jose, CA<br>
                      Research Scientist Intern<br>
                      <small>Mentor: <a href="https://gromitchan.com/">Gromit Yeuk-Yin Chan</a></small>
                    </div>
                  </div>
                  <div class="cv-dated-entry">
                    <div class="cv-dated-date">Summer<br>2023</div>
                    <div class="cv-dated-content">
                      <b><a href="https://clova.ai/en/research/research-areas.html">Naver AI Lab</a></b>, Seongnam, Korea<br>
                      Research Intern<br>
                      <small>Mentor: <a href="http://younghokim.net/">Young-Ho Kim</a></small>
                    </div>
                  </div>
                  <div class="cv-dated-entry">
                    <div class="cv-dated-date">2020 - 2021</div>
                    <div class="cv-dated-content">
                      <b><a href="https://elecle.bike/">Elecle</a></b>, Seoul, Korea</a><br>
                      iOS developer<br>
                    </div>
                  </div>
                </section>
                <section>
                  <h2>Publications</h2>
                  {% for pubs in publications %}
                    {% assign pub_items_sorted = pubs.items | sort: "month" | reverse %}
                    {% for pub in pub_items_sorted %}
                    <div class="cv-dated-entry">
                      <div class="cv-dated-date">{% if forloop.first %}{{ pubs.name }}{% endif %}</div>
                      <div class="cv-dated-content"><a class="cv-publication-title" href="{{ '/publication/' | append: pub.slug | relative_url }}">{{ pub.title }}</a><br>
                        {% for author in pub.authors %}
                        {% assign author_data = site.data.people.people | where:"name", author | first %}
                        {% if author == "Donghoon Shin" %}<a class="cv-author" href="https://donghoon.io">Donghoon Shin</a>{% if pub.coauthors contains author %}*{% endif %}{% else %}{% if pub.coauthors contains author %}{% if author_data.website %}<a href="{{ author_data.website }}" class="cv-author">{{ author }}</a>*{% else %}<span class="cv-author">{{ author }}</span>*{% endif %}{% else %}{% if author_data.website %}<a href="{{ author_data.website }}" class="cv-coauthor">{{ author }}</a>{% else %}<span class="cv-coauthor">{{ author }}</span>{% endif %}{% endif %}{% endif %}{% unless forloop.last%}, {% endunless %}
                        {% endfor %}{% if pub.coauthors %}<span class="cv-note" class="ms-2">(* co-first authorship)</span>{% endif %}
                        <br>
                        {{ pub.venue }}.{% if pub.note %} <span class="cv-note">({{ pub.note}})</span>{% endif %}<br>
                        {% if pub.award %}<span clsss="cv-award"><i class="fas fa-medal me-1"></i>{{ pub.award }}</span><br>{% endif %}
                      </div>
                    </div>
                    {% endfor %}
                  {% endfor %}
                </section>
                <section>
                  <h2>Patent</h2>
                  <div class="cv-dated-entry">
                    <div class="cv-dated-date">2021</div>
                    <div class="cv-dated-content">
                      <b>Method and Apparatus for Mimicking Conversational Style</b><br>
                      <span class="cv-coauthor">Youjin Hwang</span>, <span class="cv-coauthor">Joonhwan Lee</span>, <a href="https://donghoon.io">Donghoon Shin</a><br>
                      Republic of Korea Patent <span class="ms-1" style="font-weight: 200 !important">(10-2021-0032858)</span>
                    </div>
                  </div>
                </section>
                <section>
                  <h2>Honors and Awards</h2>
                  <div class="cv-dated-entry">
                    <div class="cv-dated-date">2023</div>
                    <div class="cv-dated-content">
                      <b>Graduate School Conference Presentation Award</b>, University of Washington<br>
                      Conference presentation award for presenting a paper at CHI
                    </div>
                  </div>
                  <div class="cv-dated-entry">
                    <div class="cv-dated-date">2022</div>
                    <div class="cv-dated-content">
                      <b>Government Scholarship for Overseas Study</b>, Republic of Korea<br>
                      Merit-based scholarship for graduate studies funded by the Korean government (~ 50 recipients selected annually)
                    </div>
                  </div>
                  <div class="cv-dated-entry">
                    <div class="cv-dated-date">2022</div>
                    <div class="cv-dated-content">
                      <b>Graduate School Fellowship</b>, University of Washington<br>
                      Selected by the department
                    </div>
                  </div>
                  <div class="cv-dated-entry">
                    <div class="cv-dated-date">2022</div>
                    <div class="cv-dated-content">
                      <b>Gary Marsden Travel Award</b>, ACM SIGCHI<br>
                      Travel grant for attending CHI 2022
                    </div>
                  </div>
                  <div class="cv-dated-entry">
                    <div class="cv-dated-date">2022</div>
                    <div class="cv-dated-content">
                      <b>Special Recognition for Outstanding Reviews</b>, ACM CHI 2022<br>
                      Recognition for the paper review
                    </div>
                  </div>
                  <div class="cv-dated-entry">
                    <div class="cv-dated-date">2020</div>
                    <div class="cv-dated-content">
                      <b>Honorable Mention Award</b>, ACM CHI 2020<br>
                      Selected among the top 5% of paper submissions
                    </div>
                  </div>
                  <div class="cv-dated-entry">
                    <div class="cv-dated-date">2020</div>
                    <div class="cv-dated-content">
                      <b>Presidential Science Scholarship</b>, Republic of Korea<br>
                      Merit-based scholarship for undergraduate studies funded by the Korean government (~ 150 recipients selected annually)
                    </div>
                  </div>
                  <div class="cv-dated-entry">
                    <div class="cv-dated-date">2020</div>
                    <div class="cv-dated-content">
                      <b>Conference and Travel Scholarship</b>, Google<br>
                      Travel grant for attending CHI 2020 (travel canceled due to COVID-19)
                    </div>
                  </div>
                  <div class="cv-dated-entry">
                    <div class="cv-dated-date">2020</div>
                    <div class="cv-dated-content">
                      <b>Best Undergraduate Research Award</b>, Seoul National University<br>
                      Selected 1st among all the undergraduate research projects in 2019
                    </div>
                  </div>
                  <div class="cv-dated-entry">
                    <div class="cv-dated-date">2019, 2021</div>
                    <div class="cv-dated-content">
                      <b>Undergraduate Research Grant</b>, Seoul National University<br>
                      ~$10,000 research grant for two undergraduate research projects
                    </div>
                  </div>
                  <div class="cv-dated-entry">
                    <div class="cv-dated-date">2016, 2017</div>
                    <div class="cv-dated-content">
                      <b>Merit-based Scholarship</b>, Seoul National University<br>
                      Undergraduate merit-based scholarship
                    </div>
                  </div>
                </section>
                <section>
                  <h2>Teaching Experience</h2>
                  <div class="cv-dated-entry">
                    <div class="cv-dated-date">2023 -</div>
                    <div class="cv-dated-content"><b>Graduate Teaching Assistant</b>, University of Washington<br>
                      Information Visualization (HCDE 511)<br>
                      Designing for Behavior Change (HCDE 538)</div>
                  </div>
                  <div class="cv-dated-entry">
                    <div class="cv-dated-date">2021</div>
                    <div class="cv-dated-content"><b>Undergraduate Teaching Assistant</b>, Seoul National University<br>
                      Basic Computing (L0444.000400)</div>
                  </div>
                </section>
                <section>
                  <h2>Research Experience</h2>
                  <div class="cv-dated-entry">
                    <div class="cv-dated-date">2020 - 2022</div>
                    <div class="cv-dated-content">
                      <b><a href="https://thecoalalab.com/">CoALA Lab</a> & <a href="https://dig.cmu.edu/">Data Interaction Group</a></b>, <a href="https://cmu.edu/">Carnegie Mellon University</a><br>
                      Research intern<br>
                      <small>Mentor: <a href="https://kenholstein.com/">Kenneth Holstein</a> & <a href="https://perer.org/">Adam Perer</a></small>
                    </div>
                  </div>
                  <div class="cv-dated-entry">
                    <div class="cv-dated-date">2019 - 2020</div>
                    <div class="cv-dated-content">
                      <b><a href="https://hcid.snu.ac.kr/">HCI+d Lab</a></b>, <a href="https://snu.ac.kr/">Seoul National University</a><br>
                      Research intern<br>
                      <small>Mentor: <a href="https://hcid.snu.ac.kr/people/joonhwan">Joonhwan Lee</a></small>
                    </div>
                  </div>
                </section>
                <section>
                  <h2>Services</h2>
                  <h3>Program Committee</h3>
                  <div class="cv-oneline-entries">
                    <div class="cv-dated-entry">
                      <div class="cv-dated-date">2024, 2025</div>
                      <div class="cv-dated-content">ACM CHI</div>
                    </div>
                    <div class="cv-dated-entry">
                      <div class="cv-dated-date">2025</div>
                      <div class="cv-dated-content">ACM IUI</div>
                    </div>
                  </div>
                  <h3>Reviewer</h3>
                  <div class="cv-oneline-entries">
                    <div class="cv-dated-entry">
                      <div class="cv-dated-date">2020 -</div>
                      <div class="cv-dated-content">ACM CHI</div>
                    </div>
                    <div class="cv-dated-entry">
                      <div class="cv-dated-date">2024</div>
                      <div class="cv-dated-content">ACM CSCW</div>
                    </div>
                    <div class="cv-dated-entry">
                      <div class="cv-dated-date">2023</div>
                      <div class="cv-dated-content">ACM DIS</div>
                    </div>
                    <div class="cv-dated-entry">
                      <div class="cv-dated-date">2021</div>
                      <div class="cv-dated-content">ACM MobileHCI</div>
                    </div>
                    <div class="cv-dated-entry">
                      <div class="cv-dated-date">2021</div>
                      <div class="cv-dated-content">Journal of Medical Internet Research</div>
                    </div>
                  </div>
                  <h3>Admission Committee</h3>
                  <div class="cv-oneline-entries">
                    <div class="cv-dated-entry">
                      <div class="cv-dated-date">2023</div>
                      <div class="cv-dated-content">Student reviewer for UW HCDE Ph.D. admission</div>
                    </div>
                  </div>
                  <h3>Student Volunteer</h3>
                  <div class="cv-oneline-entries">
                    <div class="cv-dated-entry">
                      <div class="cv-dated-date">2020</div>
                      <div class="cv-dated-content">ACM ISS</div>
                    </div>
                  </div>
                </section>
        </div>
    </div>
</div>

<script>
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
  })
</script>