
section#demo {
    position: relative;
	padding: 0px;
	margin: auto;
	max-width: 400px;
    min-height: 85vh;
	transition: height 9999s;
}
.vertical-align {
	position: absolute;
	top: 50%;
	padding: 0 10px 0 10px;
	transform: translateY(-50%);
	left: 0;
	width: 100%;
}
.card {
	background: #ffffff00;
}