
/* main */

.cryptedmail:after {
  content: attr(data-name) "@" attr(data-domain) "." attr(data-tld);
}

/* main projects */

.home-project-container,
.home-project {
  width: 170px;
}

@media (min-width: 992px) {
  .home-project-container,
  .home-project {
    width: 200px;
  }
}

@media (min-width: 1560px) {
  .home-project-container,
  .home-project {
    width: 230px;
  }
}

.home-project-scroller {
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, transparent, white 8%, white 92%, transparent);
  mask: linear-gradient(90deg, transparent, white 8%, white 92%, transparent);
}

.home-project-scroller-inner {
  padding-block: .5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.home-project-scroller .home-project-scroller-inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}

.home-project-scroller .home-project-scroller-inner:hover {
  animation-play-state: paused;
}

.home-project-scroller {
  --_animation-direction: reverse;
  --_animation-duration: 40s;
}
.home-project-link {
  text-decoration: none;
  color: inherit;
}

.home-project-link:hover .home-project-container {
  transform: scale(1.04);
  transition: transform 0.25s ease-in-out;
  z-index: 10;
}

.home-project-container {
  transition: transform 0.25s ease-in-out;
  cursor: pointer;
}


@keyframes scroll {
  to {
    transform: translate(calc(-50% + 5rem));
  }
}

.home-project-venue {
  background-color: var(--background-secondary-color);
  color: var(--element-primary-color) !important;
  margin-left: 5px;
  font-weight: 350;
  font-size: 90%;
  padding: 1px 3px;
  border-radius: 5px;
  white-space: nowrap;
}

.home-misc-news {
  font-size: .9rem;
}

.home-view-all {
  font-size: .85rem;
}

.affiliation-logo {
  width: 15px;
  height: 15px;
  margin: 0 4px 2px 2px;
}

.home-flag {
  width: 20px;
  height: 20px;
  margin: 0 3px 2px 1px;
}

.affiliation-logo {
  filter: brightness(0) contrast(.35); /* dark but not fully black */
  transition: filter 0.3s;
}

/* Restore full color on hover */
a:hover .affiliation-logo {
  filter: brightness(1) contrast(1);
}