.news-title {
  font-weight: 300 !important;
  margin-bottom: 0 !important;
}

.news-date {
  font-size: .8rem;
  font-weight: 200 !important;
  margin-bottom: 0.35rem !important;
}
.news-description {
  font-weight: 200 !important;
  margin-bottom: 0 !important;
}

.news-description a {
  font-weight: 400 !important;
}

.news-description a:hover {
  font-weight: 500 !important;
}

.travel-title {
  font-weight: 300 !important;
  font-size: .75rem !important
}

.travel-date {
  font-weight: 200 !important;
  font-size: .7rem !important;
}
