/* publication main */

.publication-category {
  font-size: .9rem !important;
  cursor: pointer;
}
.publication-year {
  font-weight: 400;
}

.publication-list {
	padding-top: .5rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.publication-list > label {
  font-weight: 300;
}

.publication-list > label:hover {
  font-weight: 400;
}

@media (min-width:48.0625em) {
	.publication-list {
		justify-content: center;
	}
}

.publication-item:last-child > hr {
  display: none;
}

.publication-title {
  font-weight: 350 !important
}

.publication-author-list {
  font-weight: 200 !important
}

.publication-author-list > a {
  font-weight: 400
}

.publication-author-list > a:hover {
  font-weight: 450 !important;
}

.publication-coauthor {
  font-weight: 200 !important
}

.publication-cofirst {
  font-size: .75rem
}

.publication-note {
  font-weight: 200
}

.publication-venue {
  font-weight: 350 !important;
}
.publication-metadata {
  font-size: .85rem;
  font-weight: 200 !important;
}

/* publication detail */

.publication-detail-metadata>a, label {
  margin-right: 10px !important;
  font-size: .9rem;
}

.publication-detail-metadata > a > i,
.publication-detail-metadata > label > i {
  padding-right: 2px !important;
}

.publication-detail-metadata>label {
  font-weight: 300 !important;
}

.publication-detail-metadata>label:hover {
  font-weight: 400 !important;
}

.publication-detail-author-name {
  font-weight: 400;
  font-size: .85rem !important;
  line-height: 1.4 !important;
  margin-bottom: 3px !important;
  text-align: center;
}

.publication-detail-affiliation-name {
  font-weight: 200;
  font-size: .85rem !important;
  line-height: 1.4 !important;
  text-align: center;
}

.publication-detail-image {
  display: block;
  max-width: 95%;
  max-height: 300px;
  width: auto;
  height: auto;
  object-fit: contain;
  margin: 0 auto;
}
.publication-detail-cofirst {
  font-size: .8rem;
  font-weight: 200;
  text-align: right;
}

.publication-detail-title {
  font-weight: 400 !important;
  font-size: 1rem !important
}

.publication-detail-author-image {
  width: 100px !important;
  height: 100px !important;
  -webkit-border-radius: 100px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 100px;
  -moz-background-clip: padding;
  border-radius: 100px;
  background-clip: padding-box;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center center;
}

.bibtex {
  padding: .5rem;
  margin: 0 !important;
  border: 1px solid #000;
}
#bibtex-block {
  margin-top: 1rem;
}
#bibtex-toggle ~ #bibtex-block {
  display: none;
}
#bibtex-toggle:checked ~ #bibtex-block {
  display: block;
}

.copy-button {
  font-size: 0.75rem;
  padding: 2px 4px;
  margin-bottom: 4px;
  background: white;
  color: black;
  border: 1px solid black;
  cursor: pointer;
  transition: all 0.2s ease;
}

.copy-button:hover {
  background: black;
  color: white;
}