:root {
	font-family: 'Barlow', Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--pure-white: #ffffff;
	--primary-color: #b9c6d2;
	--secondary-color: #d0dde9;
	--tertiary-color: #edf0f8;
	--accent-color: #ff3e00;
	--heading-color: rgba(0, 0, 0, 0.7);
	--text-color: #444444;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
}

html {
}

body {
	font-size: 1rem;
	line-height: 1.7;
	font-family: 'Barlow', 'Noto Sans KR' !important;
	font-weight: 300
}
.page-content {
	padding: 0 10rem !important;
}
footer {
	padding: 1rem 10rem 2rem 10rem !important;
}
::-moz-selection {
	color: #333;
	background: rgb(221, 221, 221);
}

::selection {
	color: #000;
	background: #fff1a3;
}

a {
	text-decoration: none !important;
	color: #000 !important;
}
a:hover {
  font-weight: 500 !important;
}
.zoom {
	transition: transform .2s;
}
.zoom:hover {
  transform: scale(1.02); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

p {
	font-size: 1rem;
	font-weight: 300;
	margin-bottom: .75rem !important;
}
p:last-child {
	margin-bottom: 0 !important;
}

p > a {
	font-weight: 400;
}

h4 {
	font-size: 1.1rem;
	margin-bottom: 1.5rem;
}

.main {
	padding: 1rem .5rem;
}

.container {
	margin-bottom: 2rem;
	max-width: none !important;
}

.container:last-of-type {
	margin-bottom: 0 !important;
}

.active {
	text-decoration: underline !important;
}

.nav-link {
    text-transform: lowercase;
    letter-spacing: .75px;
	font-size: 1.1rem;
	color: black !important;
}
.navbar-nav > li{
    padding-left: 1.1rem;
}
.nav-item {
	padding-left: 0 !important;
}
.navbar-toggler {
	border: none !important;
	outline: none !important;
	padding: 0 !important
  }
@media screen and (max-width: 575px) {
	.padding-row {
		padding-top: 1rem !important;
	}
}

@media screen and (max-width: 1200px) {
	.page-content {
		padding: 0 5rem !important;
	}
    footer {
	    padding: 2rem 5rem !important;
    }
}
@media screen and (max-width: 991px) {
	.page-content {
		padding: 0 1rem !important;
	}
    footer {
	    padding: 2rem 1rem !important;
    }
}

@media screen and (max-width: 575px) {
	.page-content {
		padding: 0 .3rem !important;
	}
    footer {
	    padding: 2rem .3rem !important;
    }
}