---
layout: default
baseurl: /publication
title: Publication
description: Publication list of Donghoon Shin
---

{% assign publications = site.publication | sort: 'year' | group_by: 'year' | reverse %}
{% assign category = site.data.publication-category %}

<style>
  [type=radio] {
    display: none !important;
  }
  {% for type in category.types %}
  #publication-tag-{{ type | replace: ' / ', '' }}:checked ~ .publication-tag-label#publication-label-{{ type | replace: ' / ', '' }},
  {% endfor %}
  #publication-tag-all:checked ~ .publication-tag-label#publication-label-all {
    text-decoration: underline;
  }

  {% for type in category.types %}
  #publication-tag-all:checked ~ #publications > #{{ type | replace: ' / ', '' }} > .publication-item:not(.publication-item), #publications > .div:not(.div) {
    display: none !important;
  }
  #publication-tag-{{ type | replace: ' / ', '' }}:checked ~ #publications > .div:not(.{{ type | replace: ' / ', '' }}) {
    display: none !important;
  }
  {% endfor %}

  {% for type in category.types %}
  #publication-tag-{{ type | replace: ' / ', '' }}:checked ~ #publications > .publication-item:not(.publication-tag-{{ type | replace: ' / ', '' }}) {
    display: none !important;
  }
  {% endfor %}
</style>

<div class="container py-4">
    <div class="row pb-3">
      <p class="section-title">Publication</p>
    </div>
    <div class="publication-list">
      <input type="radio" name="publication-tag" id="publication-tag-all" aria-labelledby="publication-tag-all" checked>
      {% for cat in category.types %}
      <input type="radio" name="publication-tag" id="publication-tag-{{ cat | replace: ' / ', '' }}" aria-labelledby="publication-tag-{{ cat | replace: ' / ', '' }}">
      {% endfor %}
    
      <label for="publication-tag-all" class="publication-tag-label publication-tag-all publication-category" id="publication-label-all">All</label>
      {% for cat in category.types %}
      <label for="publication-tag-{{ cat | replace: ' / ', '' }}" class="ms-4 publication-tag-label publication-category publication-tag-{{ cat | replace: ' / ', '' }}" id="publication-label-{{ cat | replace: ' / ', '' }}">{{ cat }}</label>
      {% endfor %}

      <div class="row mt-4" style="flex: 0 0 100%;" id="publications">
        {% for pub in publications %}
        <div class="col-12 px-0 mb-3 {% unless forloop.first %}mt-5{% endunless %}">
          <p class="publication-year">{{ pub.name }}</p>
        </div>
        {% assign pub_items_sorted = pub.items | sort: "month" | reverse %}
        {% for paper in pub_items_sorted %}
        <div class="publication-item col-12 px-0 {% for cat_each in paper.category %}publication-tag-{{ cat_each | replace: ' / ', '' }} {% endfor %}">
          <p class="mb-1"><a class="publication-title" href="{{ paper.slug | prepend: '/publication/' | relative_url }}">{{ paper.title }}</a></p>
          <p class="mb-1">
            {% for author in paper.authors %}{% assign author_data = site.data.people.people | where:"name", author | first %}{% if author == "Donghoon Shin" %}<a href="https://donghoon.io">Donghoon Shin</a>{% if paper.coauthors contains author %}*{% endif %}{% else %}{% if paper.coauthors contains author %}{% if author_data.website %}<a href="{{ author_data.website }}">{{ author }}</a>*{% else %}<span>{{ author }}</span>*{% endif %}{% else %}{% if author_data.website %}<a href="{{ author_data.website }}" class="publication-coauthor">{{ author }}</a>{% else %}{{ author }}{% endif %}{% endif %}{% endif %}{% unless forloop.last %}, {% endunless %}{% endfor %}{% if paper.coauthors %} <span class="publication-cofirst ms-2">(* co-first authorship)</span>{% endif %}</p>
          <p class="mb-2"><span class="publication-venue">{{ paper.venue }}</span>.{% if paper.note %} <span class="publication-note">({{ paper.note }})</span>{% endif %}</p>
          {% if paper.award %}
          <p class="mb-2" style="font-weight: 300 !important;"><i class="fa-solid fa-medal"></i>&nbsp;&nbsp;{{ paper.award }}</p>
          {% endif %}
          {% unless paper.note contains 'accepted' %}
          <p class="publication-metadata">
              <a href="{{ paper.slug | prepend: '/publication/' | relative_url }}"><i class="fa-solid fa-external-link-alt"></i>&nbsp;&nbsp;Project</a>&nbsp;&nbsp;&nbsp;&nbsp;
              {% if paper.venue == "arXiv" or paper.note == "to appear" %}
              {% unless paper.pdf == false %}
              <a href="{{ '/assets/pdf/' | append: paper.slug | append: '.pdf' | relative_url }}"><i class="fa-solid fa-file-pdf"></i>&nbsp;&nbsp;Preprint</a>&nbsp;&nbsp;&nbsp;&nbsp;
              {% endunless %}
              {% else %}
              <a href="{{ '/assets/pdf/' | append: paper.slug | append: '.pdf' | relative_url }}"><i class="fa-solid fa-file-pdf"></i>&nbsp;&nbsp;PDF</a>&nbsp;&nbsp;&nbsp;&nbsp;
              {% endif %}
              {% if paper.video %}
              <a href="{{ 'https://youtu.be/' | append: paper.video }}"><i class="fa-solid fa-play"></i>&nbsp;&nbsp;Video</a>&nbsp;&nbsp;&nbsp;&nbsp;
              {% endif %}
              {% if paper.slide %}
              <a href="{{ '/assets/pdf/' | append: paper.slide | relative_url }}"><i class="fa-solid fa-file-powerpoint"></i>&nbsp;&nbsp;Slides</a>&nbsp;&nbsp;&nbsp;&nbsp;
              {% endif %}
              {% if paper.poster %}
              <a href="{{ '/assets/pdf/' | append: paper.poster | relative_url }}"><i class="fa-solid fa-presentation-screen"></i>&nbsp;&nbsp;Poster</a>&nbsp;&nbsp;&nbsp;&nbsp;
              {% endif %}
              {% if paper.demo %}
              <a href="{{ paper.demo }}" target="_blank" rel="noopener noreferrer"><i class="fas fa-desktop"></i>&nbsp;&nbsp;Demo</a>&nbsp;&nbsp;&nbsp;&nbsp;
              {% endif %}
          </p>
          {% endunless %}
          {% unless forloop.last %}
          <hr>
          {% endunless %}
      </div>
        {% endfor %}
        {% endfor %}
      </div>
    </div>
</div>