---
layout: default
---
<div class="container py-4">
  <div class="row pb-3">
    <p class="publication-detail-title">{{ page.title }}</p>
    {% if page.note %}
    <p><span>{{ page.venue }}.</span> ({{ page.note }})</p>
    {% else %}
    <p>Published in {{ page.venue }}.</p>
    {% endif %}
    {% if page.award %}
    <p><i class="fa-solid fa-medal me-2"></i>{{ page.award }}</p>
    {% endif %}
  </div>
  <div class="row mb-5">
    {% if page.coauthors %}<p class="publication-detail-cofirst">(* co-first authorship)</p>{% endif %}
    {% for author in page.authors %}
    {% assign author_data = site.data.people.people | where:"name", author | first %}
    {% if author_data %}
    <div class="col my-3">
      <div class="row">
        {% if author_data.website %}
        {% if author_data.image %}
        <a href="{{ author_data.website }}"><div class="publication-detail-author-image" style="{{ author_data.image | prepend: '/assets/images/author/' | relative_url | prepend: 'background-image: url(' | append: ')' }}"></div></a>
        {% else %}
        <a href="{{ author_data.website }}"><div class="publication-detail-author-image" style="{{ '/assets/images/author/default.jpg' | relative_url | prepend: 'background-image: url(' | append: ')' }}"></div></a>
        {% endif %}
        {% else %}
        {% if author_data.image %}
        <div class="publication-detail-author-image" style="{{ author_data.image | prepend: '/assets/images/author/' | relative_url | prepend: 'background-image: url(' | append: ')' }}"></div>
        {% else %}
        <div class="publication-detail-author-image" style="{{ '/assets/images/author/default.jpg' | relative_url | prepend: 'background-image: url(' | append: ')' }}"></div>
        {% endif %}
        {% endif %}
      </div>
      <div class="row mt-2">
        {% if author_data.website %}
        <a href="{{ author_data.website }}">
          <p class="publication-detail-author-name">{{ author_data.name }} {% for co in page.coauthors %}{% if co == author_data.name %}*{% endif %}{% endfor %}</p>
          <p class="publication-detail-affiliation-name">{{ author_data.affiliation }}</p>
        </a>
        {% else %}
        <p class="publication-detail-author-name">{{ author_data.name }} {% for co in page.coauthors %}{% if co == author_data.name %}*{% endif %}{% endfor %}</p>
        <p class="publication-detail-affiliation-name">{{ author_data.affiliation }}</p>
        {% endif %}
      </div>
    </div>
    {% else %}
    <div class="col my-3">
      <div class="row">
        <div class="publication-detail-author-image" style="{{ '/assets/images/author/default.jpg' | relative_url | prepend: 'background-image: url(' | append: ')' }}"></div>
      </div>
      <div class="row mt-2">
        <p class="publication-detail-author-name">{{ author }}</p>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  <div class="row mb-5">
    <img class="publication-detail-image" alt="Landscape" src="{{ page.slug | prepend: '/assets/images/publication/' | append: '.jpg' | relative_url }}"/>
  </div>
  <div class="row mb-5">
    <p class="section-title">Abstract</p>
    <p>{{ page.abstract }}</p>
  </div>
  <div class="row">
    <p class="section-title">Materials</p>
    <div class="publication-detail-metadata">
      {% if page.venue contains "arXiv" or page.note == "to appear" %}{% unless page.pdf == false %}<a href="{{ page.slug | prepend: '/assets/pdf/' | append: '.pdf' | relative_url }}" rel="external"><i class="fa-solid fa-file-pdf"></i> Preprint</a> {% endunless %}{% else %}<a href="{{ page.slug | prepend: '/assets/pdf/' | append: '.pdf' | relative_url }}" rel="external"><i class="fa-solid fa-file-pdf"></i> PDF</a> {% endif %}
      {% if page.video %}<a href="{{ page.video | prepend: 'https://youtu.be/'}}" rel="external"><i class="fa-solid fa-play"></i> Video</a>{% endif %}
      {% if page.slide %}<a href="{{ page.slide | prepend: '/assets/pdf/' | relative_url }}" rel="external"><i class="fa-solid fa-file-powerpoint"></i> Slide</a> {% endif %}
      {% if page.poster %}<a href="{{ page.poster | prepend: '/assets/pdf/' | relative_url }}" rel="external"><i class="fa-solid fa-presentation-screen"></i> Poster</a> {% endif %}
      {% if page.demo %}<a href="{{ page.demo }}" target="_blank" rel="noopener noreferrer"><i class="fas fa-desktop"></i> Demo</a>{% endif %}
      <input type="checkbox" id="bibtex-toggle" style="display: none;" />
      <label for="bibtex-toggle" style="cursor: pointer;">
        <i class="fa-solid fa-book"></i> BibTeX
      </label>

      <div id="bibtex-block">
        {% include bibtex.html %}
      </div>
    </div>
  </div>
</div>